<section class="desktop">
	<input type="search" placeholder="Search"/>
	<div class="navigation">
		<a goto="/home">
			<span class='icon'>&#xfe8a;</span>
			<span>Home</span>
		</a>
		<a goto="/courses">
			<span class='icon'>&#xed8a;</span>
			<span>Courses</span>
		</a>
		<div class="separator">Pinned Courses</div>
		<a goto="/pins">
			<span class='icon'>&#xf892;</span>
			<span>All Pins</span>
		</a>
		<div id="Grid_PinnedCourses"></div>
	</div> 
	<div class="footer">
		<a goto="/help">
			<span class='icon'>&#xf95f;</span>
			<span>Help</span>
		</a>
		<a goto="/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
	</div>
</section>

<section class="mobile">
	<span class="navigation">
		<a goto="/home">
			<span class='icon'>&#xfe8b;</span>
			<span>Home</span>
		</a>
		<a goto="/courses">
			<span class='icon'>&#xed89;</span>
			<span>Courses</span>
		</a>
		<a goto="/help">
			<span class='icon'>&#xf95e;</span>
			<span>Help</span>
		</a>
		<a goto="/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
	</span> 
</section>
<script src="/sidebar.js"></script>