section[ad-header]
{
    position: relative;
}

.arrow
{
    display: grid;
    width: 1ch;
    justify-content: center;
    position: absolute;
    left: -20px;
    bottom: calc(50% - 1em);
    font-size: 2em;
    font-family: var(--font-icon);
    z-index: 1;
    color: var(--foreground-description);
    transition: 0.1s opacity;
}
.arrow.next
{
    left: unset;
    right: -20px;
}
.arrow:hover
{
    opacity: 0.7;
}
.arrow:active
{
    opacity: 0.5;
}

section[ad-header]:has(> :empty)
{
    display: none;
}
#Grid_Courses
{    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 275px;
    grid-template-columns: unset;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;    
    scroll-padding: 10px;
    padding: 10px;
    margin: -10px;
    mask-image: linear-gradient(90deg, transparent, black 10px, black calc(100% - 10px), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, black 10px, black calc(100% - 10px), transparent);
}
    #Grid_Courses .course
    {    
        scroll-snap-align: start;
    }

section[ad-header]:has(#Grid_CourseTopics) .arrow
{
    bottom: 1.8em;
}
section[ad-header]:has(.arrow.prev.hidden):has(.arrow.next:not(.hidden)) #Grid_CourseTopics
{
    mask-image: linear-gradient(90deg, transparent, black 0, black calc(100% - 0.75em), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, black 0, black calc(100% - 0.75em), transparent);
}
section[ad-header]:has(.arrow.next.hidden):has(.arrow.prev:not(.hidden)) #Grid_CourseTopics
{
    mask-image: linear-gradient(90deg, transparent, black 0.75em, black calc(100%), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, black 0.75em, black calc(100%), transparent);
}
section[ad-header]:has(.arrow.prev:not(.hidden)):has(.arrow.next:not(.hidden)) #Grid_CourseTopics
{
    mask-image: linear-gradient(90deg, transparent, black 0.75em, black calc(100% - 0.75em), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, black 0.75em, black calc(100% - 0.75em), transparent);
}
#Grid_CourseTopics
{    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 275px;
    grid-template-rows: repeat(2, max-content);
    gap: 10px 2em;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-padding: 0.75em;
    padding: 10px 0.75em;
    margin: -10px -0.75em;
    scroll-snap-type: x proximity;
}
    #Grid_CourseTopics .topic
    {    
        padding: 0.75em;
        margin: 0 -0.75em;
        scroll-snap-align: start;
        grid-auto-rows: max-content;
    }
        #Grid_CourseTopics .topic:nth-child(even)::before
        {
            height: 0;
        }
            #Grid_CourseTopics .topic .name,
            #Grid_CourseTopics .topic .details .course
            {        
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            #Grid_CourseTopics .topic .details::after 
            {
                content: "\ef59";
                font-size: 0.95em;
                color: var(--foreground-description);
                font-family: var(--font-icon);
                transform: translateX(20%);
            }

#Grid_Events
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 275px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 10px;
    margin: -10px;
    mask-image: linear-gradient(90deg, transparent, black 10px, black calc(100% - 10px), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, black 10px, black calc(100% - 10px), transparent);
}

#Grid_Editors
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 125px;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 10px;
    margin: -10px;
    mask-image: linear-gradient(90deg, transparent, black 10px, black calc(100% - 10px), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, black 10px, black calc(100% - 10px), transparent);
}
    #Grid_Editors .editor
    {
        display: grid;    
        gap: 0.5em;
    }
        #Grid_Editors .editor img
        {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            border-radius: 100%;
        }
        #Grid_Editors .editor .details
        {
            display: grid;
            text-align: center;
            font-weight: 500;
        }
            #Grid_Editors .editor .details .role
            {
                color: var(--foreground-description);
            }

#Grid_CourseProblems
{
    margin: 0;
}
    #Grid_CourseProblems .problem
    {
        background: transparent;
        margin: 0 -50px;
        padding: 0 50px;
        transition: 0.05s background;
    }
    #Grid_CourseProblems .problem:hover
    {
        background: var(--background-list-hover);
    }
    #Grid_CourseProblems .problem:active
    {
        background: var(--background-list-active);
    }
        #Grid_CourseProblems .problem .text
        {
            max-height: 15em;
            overflow: hidden;
            mask-image: linear-gradient(black 9em, transparent);
            -webkit-mask-image: linear-gradient(black 9em, transparent);
            pointer-events: none;
        }

@media screen and (max-width: 1040px) 
{
    #Grid_Courses
    {    
        grid-auto-columns: 235px;
    }
}