@media print 
{   
    @page
    { 
        size: A4;
        print-color-adjust: exact;
    } 
    @page cover
    {
        margin: 0;
    }
    @page content
    {
        margin: 140px 70px 100px 70px;
        break-after: page;

        @top-left
        {
            content: url("/assets/logo_fs_monochrome.svg");
        }

        @bottom-left
        {
            content: attr(doctitle);
            font-size: 12px;
        }
        
        @bottom-right
        {
            content: counter(page);
            font-size: 12px;
        }
    }
    @page backcover
    {
        margin: 0;
    }
    html, body
    {
        background: unset !important;
        overflow: auto;
        margin: 0 !important;
        padding: 0 !important;
    }
    header, nav, .root
    {
        display: none !important;
    }
    #Grid_Print
    {
        display: grid;
        print-color-adjust: exact;
    }
}
@media screen
{
   #Grid_Print
    {
        display: none;
    }
}

#Grid_Print
{
    font-size: 0.9em;

    .cover
    {
        page: cover;
        display: grid;
        position: relative;
        width: 100vw;
        height: 100vh;
        background: #015850;
        padding: 70px;
        color: white;
        gap: 50px;
        grid-auto-rows: max-content auto max-content;
        break-after: page;
    
        .logo
        {
            height: 60px;
        }
    
        .title
        {
            display: grid;
            grid-auto-rows: max-content;
    
            .type
            {
                font-size: 2em;
                font-family: var(--font-bold);
                text-transform: uppercase;
                color: #b2ccca;
                letter-spacing: 0.025em;
                line-height: 1;
            }
            .name
            {
                font-size: 6em;
                font-family: var(--font-bold);
                line-height: 1em;
                margin-top: 0.2em;
            }
            .topics
            {
                display: grid;
                grid-auto-rows: max-content;
                gap: 0.5em;
                margin-top: 50px;
                font-size: 3em;
                font-family: var(--font-semibold);
                line-height: 1;
                color: #ccffcc;
            }
            .topics:has(span)
            {
                counter-reset: topic;
            }
        }
    
        .time
        {
            font-size: 1.8em;
            font-family: var(--font-semibold);
        }
    }
    .content
    {
        page: content;
        width: calc(100% - 140px);
        text-align: justify;
        
        section
        {
            break-before: page;
        }  
        h3
        {
            font-size: 1.4em;
        }
    }
    .backcover
    {
        page: backcover;
        break-before: page;
        display: grid;
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: 70px;
        grid-auto-rows: max-content auto max-content;

        .logo
        {
            height: 60px;
        }

        .footer
        {
            display: grid;
            grid-auto-rows: max-content;

            .copyright
            {
                font-family: var(--font-bold);
            }
            .disclaimer
            {
                white-space: pre-wrap;
            }
        }
    }
}
#Activity_Topic > .content
{
    display: grid;
    grid-auto-rows: max-content auto;
}
#Activity_Topic > .content:has(.notfound, .offline, .unknownerror)
{
    grid-auto-rows: auto;
}
#Grid_CourseProblems, #Grid_PrintContent
{
    display: grid;
    grid-auto-rows: max-content;
    gap: 10px;
    margin: var(--padding) 0 0;
    counter-reset: problem;
}
#Grid_CourseProblems:not(:has(> .group))
{
    gap: 1em;
}
#Grid_PrintContent
{
    display: block;
    margin: 0;
}
#Grid_CourseProblems:has(.progressring) 
{
    grid-auto-rows: 100%;
    margin: 0;
}
    #Grid_CourseProblems .progressring 
    {
        place-self: center;
        width: 30px;
    }
#Grid_CourseProblems:empty
{   
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.25em;
    text-align: center;
    margin: 0;
}
    #Grid_CourseProblems:empty::before
    {
        content: "<$ problems empty_problems_title />";
        font-family: var(--font-bold);
        font-size: 1.5em;
    }
    #Grid_CourseProblems:empty::after
    {
        content: "<$ problems empty_problems_subtitle />";
        font-size: 1.12em;
        color: var(--foreground-description);
    }
#Grid_CourseProblems.notfound:empty
{   
    height: 100%;
}
    #Grid_CourseProblems.notfound:empty::before
    {
        content: "<$ problems notfound_topic_title />";
    }
    #Grid_CourseProblems.notfound:empty::after
    {
        content: "<$ problems notfound_topic_subtitle />";
    }
    #Grid_CourseProblems.offline:empty::before
    {
        content: "<$ problems offline_topic_title />";
    }
    #Grid_CourseProblems.offline:empty::after
    {
        content: "<$ problems offline_topic_subtitle />";
    }
    #Grid_CourseProblems.unknownerror:empty::before
    {
        content: "<$ problems unknownerror_topic_title />";
    }
    #Grid_CourseProblems.unknownerror:empty::after
    {
        content: "<$ problems unknownerror_topic_subtitle />";
    }
    #Grid_PrintContent section
    {
        counter-reset: problem;
    }
    :where(#Grid_CourseProblems, #Grid_PrintContent) .group
    {
        break-inside: avoid-page;
        display: grid;
        gap: 1em;   
    }
        :where(#Grid_CourseProblems, #Grid_PrintContent) .group .details
        {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            gap: 0.5ch;
            font-size: 1.1em;
            font-family: var(--font-bold);
        }
        :where(#Grid_CourseProblems, #Grid_PrintContent) .group:not(:nth-child(1))
        {
            margin-top: 1.5em;
        }
            :where(#Grid_CourseProblems, #Grid_PrintContent) .problem
            {
                position: relative;
                break-inside: avoid-page;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: max-content auto;
                gap: 0.5em;
                font-size: 1.1em;
                line-height: 1.5em;
                align-items: baseline;
            }
                :where(#Grid_CourseProblems, #Grid_PrintContent) .problem::before
                {
                    counter-increment: problem;
                    content: counter(problem) ".";
                }
                .pivot:has(.section > textarea) .section .preview,
                :where(#Grid_CourseProblems, #Grid_PrintContent) .problem .text
                {
                    display: grid;
                    grid-auto-rows: max-content;
                    gap: 0.5em;

                    *
                    {
                        user-select: text;
                    }

                    img
                    {
                        max-width: 100%;
                    }

                    ul, ol
                    {
                        display: grid;
                        grid-auto-rows: max-content;
                        padding-inline-start: 1em;
                        gap: 0.5em;
                        
                        li
                        {
                            margin: 0;
                        }
                    }
                    table
                    {
                        display: block;
                        overflow-x: auto;
                        white-space: nowrap;
                        margin: 0 -70px;
                        padding: 0 70px;
                        border-collapse: collapse;
                        scrollbar-width: none;

                        th, td
                        {
                            border: 1px solid var(--foreground-page);
                            padding: 0.15em 0.5em;
                            width: max-content;
                        }
                    }
                    th
                    {
                        background: var(--gray-5);
                    }

                    pre:has(code)
                    {
                        display: block;
                        overflow: auto;
                        background: var(--gray-6);
                        border-radius: 10px;
                        padding: 1em;
                        scrollbar-width: thin;
                        font-family: var(--font-mono);
                        font-weight: 600;
                        font-size: 0.8em;
                        line-height: 1.2;
                    }

                    > *,
                    > *:not(mjx-container) *
                    {
                        margin: 0;
                    }

                    mjx-container 
                    {
                        display: inline;
                        margin: 0 -50px;
                        padding: 0.5ch 50px;
                        overflow-x: auto;
                        overflow-y: hidden;
                        scrollbar-width: none;
                    }
                }