.root .main
{
    background: inherit;
}
.root .main:has(> .activity)
{
    grid-auto-flow: column;
    grid-auto-columns: 320px calc(100% - 320px);
}
    .root .main > .activity
    {
        position: relative
    }
    .root .main > .activity:nth-child(1)
    {
        background: var(--gray-7);
        box-shadow: inset -10px 0 5px -10px var(--border-sidebar);
    }
        .root .main > #Activity_Topic > .header > .buttons > .back
        {
            visibility: hidden;
        }
.root > nav
{
    z-index: 1;
}
#Button_QuizPanel 
{
    display: none;
}

#Activity_Main
{
    position: relative;
    overflow: hidden;
}
    #Activity_Main > section
    {
        grid-auto-rows: max-content auto;
        margin-bottom: 5px;
    }
        #Activity_Main > section > .header
        {
            opacity: 0;
            pointer-events: none;
        }
    #Activity_Main > .content
    {
        display: grid;
    }


@media screen and (max-width: 800px) 
{
    .root 
    {
        grid-auto-rows: auto 0;
    }
}
@media screen and 
    (
        ((min-width: 800px) and (max-width: 1025px)) 
        or
        ((max-width: 735px)) 
    )
{
    .root .main:has(> .activity)
    {
        width: calc(100% + 320px);
        transform: translateX(-320px);
        transition: 0.5s var(--key-animation) transform;
        z-index: 0;
    }
    .root .main.opened:has(> .activity)
    {
        transform: translateX(0);
    }
        .root .main > #Activity_Main
        {
            transition: 0.25s opacity;
        }
        .root .main.opened > #Activity_Main
        {
            opacity: 0.5;
        }
            .root .main.opened > #Activity_Main::before
            {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                z-index: 5;
            }  
            #Activity_Main > section > .header
            {
                opacity: 1;
                pointer-events: all;
            } 
    #Button_QuizPanel 
    {
        display: block;
    }
}

#PopOver_Introduction .content
{
    display: grid;
    grid-auto-rows: max-content max-content max-content auto max-content;
    justify-content: center;
    align-content: center;
    padding: 50px 30px;
    text-align: center;
    gap: 1em;
    max-width: unset;
}
    #PopOver_Introduction .content .features
    {
        display: grid;
        grid-auto-rows: max-content;
        gap: 1.5em;
        margin: 1.5em 0;
    }
        #PopOver_Introduction .content .features .feature
        {
            display: grid;
            grid-auto-flow: column;
            gap: 1.5em;
            text-align: left;    
            align-items: center;
        }
            #PopOver_Introduction .content .features .icon
            {
                color: var(--accent);
                font-size: 2em;
            }
            #PopOver_Introduction .content .features .description
            {
                display: grid;
                grid-auto-rows: max-content;
            }
    #PopOver_Introduction .content button
    {
        padding: 10px;
    }

@media screen and (max-width: 425px) 
{
    #PopOver_Introduction .content
    {
        grid-auto-rows: max-content max-content max-content 150px max-content;
    }   
}

#Grid_Courses,
#Grid_CourseTopics
{
    display: grid;
    gap: 10px;
}
    #Grid_Courses .course,
    #Grid_CourseTopics .topic
    {
        position: relative;
        display: grid;
        padding: 0.75em 1em;
        margin: 0 -1em;
        border-radius: 10px;
    }
    #Grid_Courses .course:hover,
    #Grid_CourseTopics .topic:hover
    {
        background-color: var(--background-input-hover);
    }
    #Grid_Courses .course:active,
    #Grid_CourseTopics .topic:active
    {
        background-color: var(--background-input-active);
    }
        #Grid_Courses .course:not(:last-child)::before,
        #Grid_CourseTopics .topic:not(:last-child)::before
        {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0.75em;
            right: 0.75em;
            height: 1px;
            background: var(--overlay-6);
        }
        #Grid_Courses .course .id
        {
            font-size: 0.8em;
            font-family: var(--font-semibold);
            letter-spacing: 0.05em;
            color: var(--foreground-description);
        }
        #Grid_Courses .course::after
        {
            content: "\ef59";
            position: absolute;
            font-size: 0.95em;
            color: var(--foreground-description);
            font-family: var(--font-icon);
            top: 50%;
            right: 0.75em;
            transform: translateY(-50%);
        }
    #Grid_CourseTopics .progressring
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transform: translate(-50%, -50%);
    }    
#Grid_CourseTopics:empty
{
    all: unset;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    grid-auto-rows: max-content;
    gap: 0.25em;
    text-align: center;
    transform: translate(-50%, -50%);
}
    #Grid_CourseTopics:empty::before
    {
        content: "<$ topics empty_title />";
        font-family: var(--font-bold);
        font-size: 1.5em;
    }
    #Grid_CourseTopics:empty::after
    {
        content: "<$ topics empty_message />";
        font-size: 1.12em;
        color: var(--foreground-description);
    }

#Activity_QuizPanel
{
    grid-auto-rows: max-content auto;
    padding-bottom: env(safe-area-inset-bottom);
}
    #Content_Panel
    {
        display: grid;
        grid-auto-rows: auto max-content;
        align-items: start;
    }
        #Content_Panel .cards 
        {
            display: grid;
            grid-auto-flow: row;
            font-size: 0.9em;
            margin-top: 0.5em;
            gap: 1.8em;
            letter-spacing: 0.05em;
            font-family: var(--font-semibold);
            justify-content: space-between;
            max-width: 400px;
        }
            #Content_Panel .cards > div
            {
                display: grid;
                justify-items: start;
                grid-auto-flow: row;
                gap: 0.25em;
            }
                #Content_Panel .cards #Button_ChangeTopic 
                {
                    padding: 0;
                }
                #Content_Panel .cards > div span:nth-child(1) 
                {
                    font-size: 0.9em;
                    opacity: 0.5;
                    text-transform: uppercase;
                }
            #Content_Panel .cards #Grid_ProblemNavigation 
            {
                display: flex;
                flex-flow: wrap;
                gap: 7px;
            }
                #Content_Panel .cards #Grid_ProblemNavigation .number
                {
                    display: grid;
                    width: 25px;
                    height: 25px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;    
                    position: relative;    
                }
                #Content_Panel .cards #Grid_ProblemNavigation .number:hover
                {
                    background: var(--background-input-hover)
                }
                #Content_Panel .cards #Grid_ProblemNavigation .number.active
                {
                    background: var(--accent-light);
                    color: white;
                }
                    #Content_Panel .cards #Grid_ProblemNavigation .number.chosen:not(.active)::after
                    {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        background: var(--accent);
                        width: 3px;
                        height: 3px;
                        border-radius: 100%;
                    }

#Content_Quiz
{
    display: grid;
    grid-auto-rows: max-content auto max-content;
}

#Grid_Status
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    width: 100%;
}
    #Grid_Status #Text_Status
    {
        text-align: center;
        font-size: 1.5em;
    }

#Grid_QuizContainer
{
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.5em;
    padding-bottom: var(--padding);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#Text_Question
{
    font-size: 1.1em;
    line-height: 1.5em;
    align-items: baseline;
}

#Grid_Choices
{
    display: grid;
    grid-auto-rows: max-content;
    gap: 10px;
    font-size: 1.1em;
    counter-reset: choice;
}
    #Grid_Choices .choice
    {
        display: grid;
        grid-template-areas: "number text";
        grid-auto-columns: 30px auto;
        background: var(--background-input);
        border-radius: 10px;
        overflow: hidden;
        counter-increment: choice;
        align-items: baseline;
        padding: 13px 15px;
        gap: 15px;
        transition: 0.1s background, 0.1s background-image;
        --background-choice-correct: #115c00;
        --background-choice-wrong: #930000;
    }
    [theme=dark]
    #Grid_Choices .choice
    {
        --background-choice-correct: #082900;
        --background-choice-wrong: #440000;
    }
    #Grid_Choices .choice:has(.reason)
    {
        grid-template-areas: 
            "number text"
            "reason reason";
    }
        #Grid_Choices .choice::before
        {
            grid-area: number;
            content: counter(choice, upper-alpha);
            display: grid;
            font-family: var(--font-bold);
            background: var(--overlay-6);
            color: var(--foreground-description);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
        }
    #Grid_Choices .choice.active
    {
        background: var(--accent-light);
        color: white;
    }
        #Grid_Choices .choice.active::before
        {
            background: white;
            color: var(--accent);
        }
        #Grid_Choices .choice.wrong::before
        {
            background: white;
            content: "\fe72";
            font-family: var(--font-icon);
            font-size: 0.6em;
            font-weight: bold;
            color: var(--background-choice-wrong);
        }
        #Grid_Choices .choice.correct::before
        {
            background: white;
            content: "\ef32";
            font-family: var(--font-icon);
            font-size: 0.6em;
            font-weight: bold;
            color: var(--background-choice-correct);
        }
    #Grid_Choices .choice.correct
    {
        background: var(--background-choice-correct);
        color: white;
    }
    #Grid_Choices .choice.wrong
    {
        background: var(--background-choice-wrong);
        color: white;
    }
    #Grid_Choices:not(:has(.reason)) .choice:hover
    {
        background-image: linear-gradient(var(--background-list-hover));
    }
    #Grid_Choices:not(:has(.reason)) .choice:active
    {
        background-image: linear-gradient(var(--background-list-active));
    }
        #Grid_Choices .choice .text,
        #Grid_Choices .choice .reason
        {
            grid-area: text;
            display: grid;
            grid-auto-rows: max-content;
            gap: 0.5em;
            justify-content: start;
            align-items: baseline;
        }
        #Grid_Choices .choice .reason
        {
            line-height: 1.5em;   
        }
        #Grid_Choices .choice.chosen
        {
            align-items: normal;
        }
            #Grid_Choices .choice.chosen .text::before
            {
                content: "<$ mentor answer_chosen />";
                display: block;
                width: max-content;
                font-size: 0.6em;
                text-transform: uppercase;
                margin-bottom: -0.9em;
                letter-spacing: 0.2em;
                opacity: 0.7;
            }
        #Grid_Choices .choice .reason
        {
            grid-area: reason;
            margin: 0 -100px -20px;
            padding: 0 100px 20px;
            overflow: hidden;
            overflow-x: auto;
        }

#Grid_QuizNavigation
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content max-content auto;
    grid-auto-rows: max-content;
    padding: 0.5em 0 max(env(safe-area-inset-bottom), var(--padding));
    margin: 0 auto;
    margin-bottom: calc(var(--padding) * -1);
    gap: 7px;
    position: sticky;
    bottom: 0;
    background: var(--background-page);
    align-self: end;
    width: 100%;
    max-width: 800px;
}
    #Grid_QuizNavigation button
    {
        display: grid;
        font-size: 1em;
        font-weight: bold;
        color: var(--foreground-description);
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 20px;
    }
    #Grid_QuizNavigation button:disabled 
    {
        opacity: 0.5;
    }
    #Grid_QuizNavigation button#Button_Submit
    {
        position: relative;
        color: var(--accent);
        font-weight: 500;
        width: auto;
        padding: 0 20px;
        overflow: hidden;
    }
        #Grid_QuizNavigation button#Button_Submit::before
        {
            content: "";
            display: block;
            background: var(--accent);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0.1;
        }