#Activity_Main
{
    position: relative;
    overflow: hidden;
}
    #Activity_Main > .content
    {
        display: grid;
    }


#Grid_Courses,
#Grid_CourseTopics
{
    display: grid;
    gap: 10px;
    margin: -0.75em 0 0;
}
    #Grid_Courses .course,
    #Grid_CourseTopics .topic
    {
        position: relative;
        display: grid;
        padding: 0.75em 1em;
        margin: 0 -1em;
        border-radius: 10px;
    }
    #Grid_Courses .course:hover,
    #Grid_CourseTopics .topic:hover
    {
        background-color: var(--background-input-hover);
    }
    #Grid_Courses .course:active,
    #Grid_CourseTopics .topic:active
    {
        background-color: var(--background-input-active);
    }
        #Grid_Courses .course:not(:last-child)::before,
        #Grid_CourseTopics .topic:not(:last-child)::before
        {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0.75em;
            right: 0.75em;
            height: 1px;
            background: var(--overlay-6);
        }
        #Grid_Courses .course .id
        {
            font-size: 0.8em;
            font-family: var(--font-semibold);
            letter-spacing: 0.05em;
            color: var(--foreground-description);
        }
        #Grid_Courses .course::after
        {
            content: "\ef59";
            position: absolute;
            font-size: 0.95em;
            color: var(--foreground-description);
            font-family: var(--font-icon);
            top: 50%;
            right: 0.75em;
            transform: translateY(-50%);
        }

        
#Grid_CourseTopics
{
    margin-top: var(--padding);
}
    #Grid_CourseTopics .progressring
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transform: translate(-50%, -50%);
    }    
    #Grid_CourseTopics
    {
        margin-top: var(--padding);
    }
#Grid_CourseTopics:empty
{
    all: unset;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    grid-auto-rows: max-content;
    gap: 0.25em;
    text-align: center;
    transform: translate(-50%, -50%);
}
    #Grid_CourseTopics:empty::before
    {
        content: "<$ courses empty_topics_title />";
        font-family: var(--font-bold);
        font-size: 1.5em;
    }
    #Grid_CourseTopics:empty::after
    {
        content: "<$ courses empty_topics_subtitle />";
        font-size: 1.12em;
        color: var(--foreground-description);
    }

#Content_Ready
{
    display: grid;
    grid-auto-rows: max-content max-content auto 100px;
    justify-items: center;
    align-content: space-evenly;
    align-items: end;
}
    #Content_Ready .about
    {
        display: grid;
        justify-items: center;
        gap: 1em;
    }
        #Content_Ready .about .name
        {
            display: grid;
            font-size: 2em;
            font-family: var(--font-bold);
            text-align: center;
        }
            #Content_Ready .about .name span:last-child
            {
                opacity: 0.5;
            }
    #Content_Ready #Grid_Status
    {
        display: grid;
        grid-auto-rows: max-content;
        gap: 1em;
        align-self: end;
        justify-items: center;
        text-align: center;
    }
        #Content_Ready #Grid_Status .progressbar
        {
            width: 200px;
            height: 5px;
        }
    #Content_Ready #Button_Start
    {
        min-width: 200px;
        font-size: 1.25em;
        padding: 10px;
    }

#Content_Quiz
{
    display: grid;
    grid-auto-rows: max-content auto max-content;
    overflow: hidden;
}

#Grid_QuizContainer
{
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.5em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5em 30px;
    margin: 0 -30px;
    mask-image: linear-gradient(transparent, black 1.5em, black calc(100% - 1.5em), transparent);
    -webkit-mask-image: linear-gradient(transparent, black 1.5em, black calc(100% - 1.5em), transparent);
}

#Text_Question
{
    font-size: 1.25em;
    line-height: 1.5em;
    align-items: baseline;
}

#Grid_Choices
{
    display: grid;
    grid-auto-rows: max-content;
    gap: 10px;
    font-size: 1.15em;
    counter-reset: choice;
}
    #Grid_Choices .choice
    {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content auto;
        background: var(--background-list);
        border-radius: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        counter-increment: choice;
        align-items: baseline;
        padding: 13px 15px;
        gap: 15px;
    }
        #Grid_Choices .choice::before
        {
            content: counter(choice, upper-alpha);
            display: grid;
            font-family: var(--font-bold);
            background: var(--overlay-6);
            color: var(--foreground-description);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
        }
    #Grid_Choices .choice.active
    {
        background: var(--accent);
        color: white;
    }
        #Grid_Choices .choice.active::before
        {
            background: white;
            color: var(--accent);
        }
    #Grid_Choices .choice:hover
    {
        background-image: linear-gradient(var(--background-list-hover));
    }
    #Grid_Choices .choice:active
    {
        background-image: linear-gradient(var(--background-list-active));
    }
        #Grid_Choices .choice .text
        {
            display: grid;
            grid-auto-flow: column;
            grid-auto-rows: max-content;
            gap: 0.5em;
            justify-content: start;
            align-items: baseline;
        }
        #Grid_Choices .choice *
        {
            margin: 0;
            padding: 0;
        }

#Grid_Navigation
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content auto max-content;
    gap: 15px;
}
    #Grid_Navigation button
    {
        font-size: 1.2em;
        padding: 10px 30px; 
    }